/**
 * All of the CSS for your public-facing functionality should be
 * included in this file.
 */

.flexslider{
  text-align: center;
}
 .rex-slider-caption {
   position: absolute;
    transform: translate(-31%, -50%);
    top: 35%;
    width: 96%;
    color: #fff !important;
 }
 .rex-slider-heading {
   position: absolute;
       transform: translate(-31%, -50%);
       top: 25%;
       width: 96%;
       color: #fff !important;
 }
