/**
 * All of the CSS for your public-facing functionality should be
 * included in this file.
 */

.flexslider{
  text-align: center;
}


.flexslider .slides li{
  position: relative;
}
 .rex-slider-caption {
   position: absolute;
     top: 53%;
     left: 0;
     width: 100%;
     color: #fff !important;
     padding: 1%;
     display: inline-block;
 }
 .rex-slider-heading {
   margin-bottom: 15px;
   position: absolute;
     top: 43%;
     left: 0;
     width: 100%;
     color: #fff !important;
     padding: 1%;
     display: inline-block;
 }
